{if $data && (!$all_selected_id)}
    <ul id="recipients-subscriptions" class="m-checkbox-menu zebra">
        {foreach $data as $o}
            <li class="flexbox middle full-width subscription{if !empty($o.checked)} checked{/if}">
                {if empty($o.disabled) && !empty($o.list_id)}
                    <input type="hidden" name="remove_ids[]" value="{$o.list_id}">
                {/if}
                <label>
                    <span class="wa-checkbox">
                        <input type="checkbox" name="add_values[]" value="{$o.value}"{if !empty($o.checked)} checked disabled{/if}{if !empty($o.disabled)} disabled{/if}>
                        <span>
                            <span class="icon">
                                <i class="fas fa-check"></i>
                            </span>
                        </span>
                    </span>
                    <span{if !empty($o.checked)} class="highlighted"{/if}>{$o.label|escape}</span>
                </label>
                <span class="count">{$o.num}</span>
            </li>
        {/foreach}
    </ul>
    <script>
        (function(){
            $('#recipients-subscriptions').find('input[value="0"]').on('change', function() {
                const $this = $(this),
                    $list_wrapper = $this.closest('.subscription'),
                    $other_list_wrappers = $list_wrapper.siblings(),
                    is_checked =$this.prop('checked');

                $other_list_wrappers.find('input[type="checkbox"]').prop({
                            checked: is_checked,
                            disabled: is_checked
                        }
                );
            });
        })()
    </script>
{else}
    <p class="mailer-empty">[`You have no subscriber lists, create them in the Subscribers section`].</p>
{/if}

