{if $recipients}
    <table class="zebra recipients-report small">
        {foreach $recipients as $r}
            <tr>
                <td class="min-width">{$start + $r@iteration}</td>
                <td>{$r.name|escape}</td>
                <td>{$r.email|escape}</td>
            </tr>
        {/foreach}
    </table>
    {if $has_more}
        <a class="js-load-more-recipients semibold text-blue" rel="{$parameters}" href="javascript:void(0)">[`Load next 50`]</a>
    {/if}
{else}
    <p>[`No recipients selected.`]</p>
{/if}

