{* Deprecated because UI2.0 has not support ContactPro *}
{if $data && (!$all_selected_id || $is_admin)}
<ul id="recipients-categories" class="m-checkbox-menu zebra">
    {foreach $data as $o}
    <li class="flexbox middle full-width category{if !empty($o.checked)} checked{/if}">
        {if empty($o.disabled) && !empty($o.list_id)}
            <input type="hidden" name="remove_ids[]" value="{$o.list_id}">
        {/if}
        <span class="count">{$o.num}</span>
        <label>
            <span class="wa-checkbox">
                <input type="checkbox" name="add_values[]" value="/contacts/view/{$o.value|escape}"{if !empty($o.checked)} checked="checked" disabled="disabled"{/if}{if !empty($o.disabled)} disabled="disabled"{/if}>
                <span>
                    <span class="icon">
                        <i class="fas fa-check"></i>
                    </span>
                </span>
            </span>
            <span class="{if !empty($o.checked)} highlighted{/if}">{$o.label|escape}</span>
        </label>
    </li>
    {/foreach}
</ul>
{else}
<p class="mailer-empty">{sprintf_wp('To select contact lists, first create them in the <a href="%s">Contacts</a> app.', "`$wa_backend_url`contacts")}</p>
{/if}
