{if $campaign.id}
    {include file="templates/actions/campaigns/CampaignsSidebar.html"}
{else}
    <div class="sidebar right200px">
        <div class="block m-editor-toolbar">
            <div class="block">
                <p>[`Be sure to enter your message subject and text to proceed to recipient selection and message sending steps.`]</p>
            </div>
        </div>
    </div>
    <script>
        (function ($) {
            $('#content').removeClass('shadowed').removeClass('blank');
        })($);
    </script>
{/if}
{$form_id = uniqid('form-campaign')}

<div class="content right200px">
    <div class="shadowed m-editor" style="margin-bottom:0">
        <div class="m-envelope-stripes-1">
            <div class="m-envelope-stripes-2">
                <div class="block m-core-header"></div>
                <form id="{$form_id}" action="?module=campaigns&action=save" method="post">
                    {if !empty($campaign.id)}
                        <ul class="m-compose-navigation tabs">
                            <li class="m-first-step selected"><a href="#/campaigns/letter/{$campaign.id}/">[`Compose letter`]</a></li>
                            <li class="m-second-step"><a href="#/campaigns/recipients/{$campaign.id}/">[`Choose recipients`]</a></li>
                            <li class="m-third-step"><a id="right-sidebar-send-link" href="#/campaigns/send/{$campaign.id}/">[`Check and send`]</a></li>
                        </ul>
                    {else}
                        <ul class="m-compose-navigation tabs">
                            <li class="m-first-step selected"><a href="javascript:void(0)">[`Compose letter`]</a></li>
                            <li class="m-second-step m-disabled"><a href="javascript:void(0)">[`Choose recipients`]</a></li>
                            <li class="m-third-step m-disabled"><a href="javascript:void(0)">[`Check and send`]</a></li>
                        </ul>
                    {/if}

                    <div class="block campaign-header tab-content">
                        <div class="block fields m-subject">
                            <h1><input id="message-subject" type="text" name="data[subject]" value="{$campaign.subject|escape}" placeholder="[`type a subject of your message`]">
                            </h1>
                        </div>

                        <input type="hidden" name="id" value="{$campaign.id}">
                    </div>

                    <div class="m-editor wysiwyg-html clear-both wa-editor-core-wrapper">
                        <ul class="mode-toggle wa-editor-wysiwyg-html-toggle">
                            <li class="selected"><a class="wysiwyg" href="javascript:void(0)">[s`WYSIWYG`]</a></li>
                            <li><a class="html" href="javascript:void(0)">HTML</a></li>
                            {if $campaign.id}
                                <li><a class="plain-text" href="javascript:void(0)">[`Plain-text`]</a></li>
                            {/if}
                        </ul>
                        <div style="clear:both">
                            <div class="wa-editor-upload-img" title="[`Upload image`]">
                                <i class="icon16 image"></i>
                            </div>
                            <textarea style="display:none" id="message-body" name="data[body]">{$campaign.body|escape}</textarea>
                            {$wa->csrf()}
                            <div class="plain-text-preview">
                                <div class="padded preview" disabled></div>
                            </div>
                        </div>
                    </div>

                    <section class="m-actions-section">
                        <div class="m-actions-wrapper js-actions-wrapper">

                            <div class="block double-padded" id="editor-step-1-buttons">
                                <div class="button-replacement italic" style="display: none;">[`This plain-text version of your message is automatically created from HTML version and displayed if recipients have disabled HTML view in their email programs.`]</div>
                                <div>
                                    <input type="submit" class="button green js-campaign-save" value="[`Save`]"/>
                                    <span class="hint">[`Ctrl+S`]</span>
                                </div>
                            </div>

                        </div>
                    </section>

                </form>
            </div>
        </div>{* div.m-envelope-stripes-1, div.m-envelope-stripes-2 *}
    </div>
</div>{* div.content.right200px, div.shadowed.m-editor *}

<div class="dialog" id="s-upload-dialog">
    <div class="dialog-background"> </div>
    <div class="dialog-window" style="height: 275px; min-height: 275px; width: 450px; min-width: 450px">
        <form id="s-upload-form" method="post" action="?module=files&action=uploadimage&r=2" enctype="multipart/form-data">
            {$wa->csrf()}
            <div class="dialog-content">
                <div class="dialog-content-indent">
                    <h2>[s`Upload image`]</h2>
                    <div id="redactor-droparea" style="text-align: center;">
                        <p class="hint">
                            [s`Only image files can be uploaded`]
                        </p>
                        <input id="s-input-file" type="file" name="file" multiple>
                        <input type="hidden" name="path" id="s-upload-path" value="" />
                        <div class="loading" style="display:none; margin-top: 10px">
                            <i class="icon16 loading"></i> [s`Uploading...`]
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-buttons">
                <div class="dialog-buttons-gradient">
                    <input type="submit" class="button green" value="[s`Upload`]">
                    [`or`] <a href="#" class="inline-link cancel"><b><i>[s`cancel`]</i></b></a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var wa_url = window.wa_url = {$wa_url|json_encode};
    var wa_app = window.wa_app = {$wa->app()|json_encode};

    ( function($) {
        "use strict";
        // DOM
        var $form = $('#{$form_id}'),
            $subject = $form.find('#message-subject'),
            $editor_toggle = $form.find('.wa-editor-wysiwyg-html-toggle'),
            $textarea = $form.find("#message-body"),
            $submit_btn = $form.find('.js-campaign-save'),
            $plain_text = $('.plain-text-preview').hide(),
            $btns_replacement = $form.find('.button-replacement'),
            $actionsWrapper = $form.find(".m-actions-section .js-actions-wrapper");

        // VARS
        var original_subject = $subject.val();

        // Init sticky actions
        var stickyActions = $.wa.mailer.initStickyBlock({
            $wrapper: $actionsWrapper,
            type: "bottom"
        });

        // Initialize editor when JS is loaded
        $textarea.waEditor({
            lang: $.Redactor.opts.langs["{$lang}"] ? "{$lang}" : 'en',
            smarty_wysiwyg_msg: {_ws('WYSIWYG editor is disabled because page source contains Smarty code tags.')|json_encode},
            modification_wysiwyg_msg: {_ws('WYSIWYG editor may change your HTML code. It is necessary for correct text formatting. Smarty code may be broken and outdated HTML tags may be replaced with modern ones. Are you sure to switch to WYSIWYG editor?')|json_encode},
            buttons: ['format', 'bold', 'italic', 'underline', 'deleted',
                      'lists', 'image', 'table', 'link', 'alignment', 'horizontalrule',
                      'fontcolor', 'fontsize', 'fontfamily', 'vars'],
            plugins: ['table', 'fontcolor', 'fontsize', 'fontfamily', 'alignment', 'vars'],
            saveButton: '.js-campaign-save',
            imageUpload: '?module=files&action=uploadimage&r=2',
            upload_img_dialog: '#s-upload-dialog',
            imageUploadFields: {
                '_csrf': "{waRequest::cookie('_csrf', '')}"
            },
            locales: {
                'close': "[`Close`]"
            },
            callbacks: {
                keydown: function(event) {
                    var code = event.keyCode,
                        is_enter = (code === 13);

                    if (is_enter) {
                        var $window = $(window),
                            lift = (24 + 16);

                        $window.scrollTop( $window.scrollTop() + lift );
                    }
                },
                change: function() {
                    stickyActions.resize();
                }
            }
        });

        $textarea.data('ace').getSession().on('change', function(event) {
            $textarea.val($textarea.data('ace').getValue());
            if (event.lines && event.lines.length > 1) {
                var $window = $(window),
                    lift = 17 * (event.lines.length - 1);

                $window.scrollTop( $window.scrollTop() + lift );
            }

            stickyActions.resize();
        });

        // Save button: save campaign without leaving the page
        $form.submit(function (e) {
            e && e.preventDefault();
            if ($submit_btn.attr('disabled')) {
                return false;
            }

            if ($.trim($textarea.val()) && $subject.val()) {
                $('#right-sidebar-letter-hint').hide();
            } else {
                $('#right-sidebar-letter-hint').show();
            }

            return $.wa.mailer.saveCampaign($form, $submit_btn, function (r) {
                $submit_btn.removeClass('yellow').addClass('green');
                {if !$campaign.id}
                    var message_id = r.data;
                    $.wa.mailer.collapseSidebarSection($('#m-sb-drafts-header'), 'uncollapse');
                    $.wa.mailer.reloadSidebar();
                    window.location.hash = '#/campaigns/letter/' + message_id + '/';
                {else}
                    var new_subject = $subject.val();
                    if (original_subject != new_subject) {
                        $.wa.mailer.reloadSidebar();
                        original_subject = new_subject;
                    }
                {/if}
            });
        });

        $editor_toggle.find('a').on('click', function () {
            if (!$(this).hasClass('plain-text')) {
                $plain_text.hide();
                $submit_btn.parent().show();
                $btns_replacement.hide();
                var $li = $(this).closest('li');
                $li.siblings('.plain-text').removeClass('selected');
            } else {
                $textarea.waEditor('sync');
                var htmlText = $textarea.waEditor('get');
                $textarea.data('ace').setValue(htmlText);
                $plain_text.show();
                $(this).closest('li').addClass('selected').siblings().removeClass('selected');
                $submit_btn.parent().hide();
                $btns_replacement.show();
                $form.find('.redactor-box, .ace').hide();
                // Fetch plain-text version from server
                $plain_text.prepend('<i class="icon16 loading after-button"></i>');
                $.post('?module=campaigns&action=getPlainText', { html: htmlText }, function (r) {
                    var text = r.data.replace(/\n/g, '<br/>');
                    $plain_text.find('div.preview').html(text).siblings('.loading').remove();
                    //$form.submit();
                }, 'json');
            }
        });

        // Save on Ctrl+S, or Cmd+S
        (function () {
            var isCtrlS = function (event) {
                if (event.which == 19) { // Mac users
                    return true;
                }
                if (event.which == 115 && event.ctrlKey) {
                    return true;
                }
                if (String.fromCharCode(event.which).toLowerCase() == 's' && event.ctrlKey) { // for chrome
                    return true;
                }
                return false;
            };
            var h;
            $(document).on('keydown', h = function (event) {
                // Change button color to yellow when something's typed into the editor
                if (
                    (event.which < 33 || event.which > 40) &&
                    (event.which > 27 || event.which == 8 || event.which == 13) &&
                    (event.which < 112 || event.which > 124) &&
                    (!event.ctrlKey || event.which != 67)
                ) {
                    $submit_btn.removeClass('green').addClass('yellow');
                }

                if (!isCtrlS(event)) {
                    return;
                }
                form.submit();
                event.preventDefault();
                return false;
            });
        })();

        // Confirmation before user leaves page
        var linksNotModeToggle = $('a:not(.wa-editor-core-wrapper a)');
        var askConfirmation = function (event) {
            if ($submit_btn.hasClass('yellow') && $form.closest('html').length) {
                if (!confirm("[`Unsaved changes will be lost if you leave this page now. Are you sure?`]")) {
                    event.preventDefault();
                    return false;
                }
                else {
                    linksNotModeToggle.off('click', askConfirmation);
                }
            }
        };
        linksNotModeToggle.on('click', function (e) {
            askConfirmation(e);
        });

        {if empty($campaign.subject)}
            $subject.focus();
        {else}
            $('#wa-my-username')[0].focus();
        {/if}

        {if !empty($campaign.just_created)}
            $.wa.mailer.collapseSidebarSection($('#m-sb-drafts-header'), 'uncollapse');
            $.wa.mailer.reloadSidebar();
        {/if}

        {if $campaign.id}
            if ($.wa.mailer.getHash() != '#/campaigns/letter/{$campaign.id}/') {
                $.wa.mailer.stopDispatch(1);
                window.location.hash = '#/campaigns/letter/{$campaign.id}/';
            }
        {/if}

        $.wa.mailer.setTitle();

    })(jQuery);
</script>

