{if $errormsg}
    <p>
        {foreach $errormsg as $e}
            <em class="state-error-hint">{$e}</em>
        {/foreach}
    </p>
{else}

    {if !$scheduled}
        <a href="javascript:void(0)" class="text-light-gray" title="[`Cancel`]" style="position:absolute;top:.5rem;right:1rem;"><i class="fas fa-times"></i></a>
    {/if}

    {$warnings = ((int) empty($cron_ok)) + ((int) empty($return_path_ok['status'])) + ((int) empty($routing_ok))}

    {if $warnings}
        {if !empty($cron_ok) || $warnings > 1}
            <h4 class="custom-mb-8 custom-mt-0">[`Warning`]</h4>
        {/if}
    {/if}

    {if empty($cron_ok)}
        {if $warnings <= 1}
            <h4 class="custom-mb-8 custom-mt-0">[`Warning`]</h4>
        {/if}
        <div class="small">
            <p class="custom-mt-8">
                [`No <tt>cron</tt> jobs, required for long mailings, have been set up for your account.`]
                <strong>{sprintf_wp('Without <tt>cron</tt> jobs set up, do not close your browser window after clicking on the “%s” button to complete the email sending process.', _w('Launch campaign'))}</strong>
            </p>

            <p>{sprintf_wp(
                'To ensure that sending is completed without your input, please set up <tt>cron</tt> jobs (<a href="%s" target="_blank">view instructions</a>), with the commands specified below, in your web-hosting control panel:',
                _w('https://developers.webasyst.com/tips/cron/')
            )}</p>

            <p class="bold">{$cron_command}</p>
        </div>
    {/if}

    {if $return_path_ok['status'] == false}
        <p class="small">
            <i class="fas fa-exclamation-triangle text-orange"></i>
            {if $return_path_ok['reason'] == 1 || $return_path_ok['reason'] == 2 || $return_path_ok['reason'] == 3}
                [`Return-Path address specified above is not available.`]
            {elseif $return_path_ok['reason'] == 4}
                {sprintf_wp('Return-Path “%s” is forbidden by the sending server.', $return_path_ok['return-path'])}
            {/if}
            [`Return-Path address is used to automatically process bounced emails.`]
        </p>
    {/if}

    {if empty($routing_ok)}
        <p class="small">
            {if $warnings > 1}<i class="fas fa-exclamation-triangle"></i>{/if}
            [`You have no routing rules defined for Mailer application.`]
            [`Unsubscribe links in your message will not work.`]
            {sprintf_wp('To set up routing rules use %sSite application%s.', '<a href="../site/#/routing/" target="_blank">', '</a>')}
        </p>
    {/if}

    {if $warnings}
        <hr class="custom-my-24">
    {/if}

    {if $scheduled}
        <p class="custom-my-0 flexbox middle wrap vertical">
            <i class="fas fa-clock fa-3x text-blue custom-my-12"></i>
            <span>
                [`Sending is scheduled for`] <strong class="lowercase">{$scheduled_time|wa_datetime:'humandatetime'}</strong>
            </span>
            <span{if !$estimated_duration}  class="custom-mb-16"{/if}>
                {_w('Ready to send to <span class="bold">%d recipients</span>.', 'Ready to send to <span class="bold">%d recipients</span>.', $unique_recipients)}
            </span>
            {if $estimated_duration}
                <span class="custom-mb-16">
                    {sprintf_wp('The sending will take <strong>about %s</strong>.', $estimated_duration)}
                </span>
            {/if}
            <button type="button" class="cancel-schedule button outlined rounded smaller gray custom-mb-12">[`Cancel`]</button>
        </p>
    {else}
        <p class="flexbox middle wrap vertical">
            <span{if !$estimated_duration} class="custom-mb-16"{/if}>
                {_w('Ready to send to <span class="bold">%d recipients</span>.', 'Ready to send to <span class="bold">%d recipients</span>.', $unique_recipients)}
            </span>
            {if $estimated_duration}
                <span class="custom-mb-16">
                    {sprintf_wp('The sending will take <strong>%s</strong>.', $estimated_duration)}
                </span>
            {/if}
            <button id="message-send" type="submit" class="button gradient rounded blue larger custom-mb-12 custom-mr-0">
                <i class="fas fa-spin fa-spinner custom-mr-8 hidden"></i><i class="fas fa-paper-plane custom-mr-8"></i> <span>[`Launch campaign`]</span>
            </button>
            <button type="button" class="button nobutton rounded open-schedule-dialog custom-mb-8">
                <i class="fas fa-clock"></i> [`Scheduled sending`]
            </button>
        </p>
    {/if}
{/if}
