<div class="article">
            <div class="article-body">
                {$params = [
                    'back' => [
                        'link' => '#/campaigns/archive/',
                        'name' => '[`Sent`]'
                    ],
                    'has_toggle' => true,
                    'title' => {$campaign.subject|escape}
                ]}
                {include file="templates/actions/campaigns/includes/CampaignsHeader.html" params=$params}

                <div class="flexbox full-width custom-mb-32">
                    {if $wa->mailer->isInspector() || $wa->mailer->isAuthor()}
                        {if $campaign.status == mailerMessageModel::STATUS_DRAFT }
                        {elseif $campaign.status == mailerMessageModel::STATUS_PENDING }
                        {elseif $campaign.status != mailerMessageModel::STATUS_SENT && $campaign.status != mailerMessageModel::STATUS_SENDING_ERROR}
                            <div class="m-second-step">
                                {if $wa->mailer->isAuthor()}
                                <a href="#/campaigns/report/{$campaign.id}/">
                                    {/if}
                                    {if $campaign.status == mailerMessageModel::STATUS_SENDING_PAUSED}
                                        [`Sending report`] <span>([`Paused`] <i class="icon16 pause"></i>)</span>
                                    {else}
                                        [`Now sending`] <i class="icon16 loading"></i>
                                    {/if}
                                    {if $wa->mailer->isAuthor()}
                                </a>
                                {/if}
                            </div>
                        {else}
                            <ul class="toggle js-toggle semibold custom-mr-12">
                                {if $wa->mailer->isInspector() || $wa->mailer->isAuthor()}
                                    {if $campaign.status == mailerMessageModel::STATUS_DRAFT}
                                    {elseif $campaign.status == mailerMessageModel::STATUS_PENDING }
                                    {elseif $campaign.status != mailerMessageModel::STATUS_SENT && $campaign.status != mailerMessageModel::STATUS_SENDING_ERROR}
                                        <li{if $wa->mailer->isAuthor()} data-href="#/campaigns/report/{$campaign.id}/"{/if}>
                                            {if $campaign.status == mailerMessageModel::STATUS_SENDING_PAUSED}
                                                [`Sending report`] <span>([`Paused`] <i class="far fa-pause-circle"></i>)</span>
                                            {else}
                                                [`Now sending`] <i class="far fa-spin fa-spinner loading"></i>
                                            {/if}
                                        </li>
                                    {else}
                                        <li data-href="#/campaigns/report/{$campaign.id}/">
                                            [`Sending report`]
                                        </li>
                                    {/if}
                                {/if}
                                <li class="selected" data-href="#/campaigns/letter/{$campaign.id}/">
                                    [`Letter`]
                                </li>
                            </ul>
                            <script>
                                (function () {
                                    $(".js-toggle").waToggle({
                                        change: function(event, target, toggle) {
                                            window.history.pushState(null, null, target.dataset.href);
                                        }
                                    });
                                })($);
                            </script>
                        {/if}
                    {/if}
                    {include file="templates/actions/campaigns/includes/CampaignsActions.html"}
                </div>

                <div class="wysiwyg-html">
                    <ul class="js-mode-toggle tabs small bordered-bottom">
                        <li class="selected js-wysiwyg">
                            <a href="javascript:void(0)">[`Design`]</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">[`HTML`]</a>
                        </li>
                        <li class="js-plain-text">
                            <a href="javascript:void(0)">[`Plain text`]</a>
                        </li>
                    </ul>

                    <div>
                        <iframe class="js-wysiwyg-tab bordered-none width-100"></iframe>
                        <textarea id="message-body" class="padded preview" name="data[body]" style="display:none;" disabled>{$campaign.body|escape}</textarea>
                        <div class="js-plain-text-preview" style="display:none;">
                            <textarea class="width-100 preview" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
        (function($) {
            $.wa.mailer.showLastSearchBreadcrumb({$campaign.id});

            const $textarea = $('#message-body');
            const $iframe_obj = $textarea.siblings('iframe')
            let $iframe = $iframe_obj[0];

            $iframe_obj.on('load', function(){
                this.style.height = this.contentWindow.document.body.scrollHeight + 'px'
                this.contentWindow.document.body.style.margin = '0'
            });

            $iframe = ($iframe.contentWindow) ? $iframe.contentWindow : ($iframe.contentDocument.document) ? $iframe.contentDocument.document : $iframe.contentDocument;
            $iframe.document.open();
            $iframe.document.write($textarea.val());
            $iframe.document.close();

            $textarea.siblings('iframe').contents().find('a[href]').attr('target',"_blank");

            const height = $($iframe).height();
            $('.js-plain-text-preview textarea').height(height);
            $textarea.height(height);

            // Switching between tabs
            $('.js-mode-toggle').on('click', 'li:not(.selected)', function() {
                const $li = $(this);
                if ($li.hasClass('js-wysiwyg')) {
                    $textarea.hide();
                    $('.js-plain-text-preview').hide();
                    $('.js-wysiwyg-tab').show();
                } else if ($li.hasClass('js-plain-text')) {
                    $textarea.hide();
                    $('.js-wysiwyg-tab').hide();
                    const plain_text_preview = $('.js-plain-text-preview');
                    plain_text_preview.show().find('textarea').hide();

                    // Fetch plain-text version from server
                    $('<i class="fas fa-spin fa-spinner js-loading"></i>').appendTo(plain_text_preview);
                    $.post(
                        '?module=campaigns&action=getPlainText',
                        { html: $textarea.val() },
                        response => plain_text_preview.find('textarea').val(response.data).show().siblings('.js-loading').remove(),
                        'json'
                    );
                } else {
                    $('.js-wysiwyg-tab').hide();
                    $('.js-plain-text-preview').hide();
                    $textarea.show();
                }
                $li.addClass('selected').siblings().removeClass('selected');
            });

            $.wa.mailer.setTitle();
        })($);
    </script>
