<div class="dialog" id="unsubscribed_info_dialog">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <div class="dialog-content fields" id="unsubscribed-info-fields">
            <div class="field">
                <div class="name custom-pt-0">[`Email`]</div>
                <div class="email-field value small">{$data.email|escape}</div>
            </div>
            <div class="field">
                <div class="name custom-pt-0">[`Linked to contact`]</div>
                <div class="value small">
                    {if $data.linked_contacts}
                        {foreach $data.linked_contacts as $contact_id => $contact_name}
                            <a class="js-close-dialog" href="{mailerHelper::getContactsAppUrl()}#/contact/{$contact_id}/">{$contact_name|escape}</a>{if !$contact_name@last},{/if}
                        {/foreach}
                    {else}
                        [`not set `]
                    {/if}
                </div>
            </div>
            <div class="field">
                <div class="name custom-pt-0">[`Unsubscribe date`]</div>
                <div class="value small">{$data.datetime_formatted}</div>
            </div>
            <div class="field custom-mt-32">
                <div class="value">
                    {if $data.message_id}
                        {sprintf_wp('Self unsubscribed from %s.', "<a class='semibold' target='_blank' href='#/campaigns/report/{$data.message_id}/'>{$data.campaign_name|escape} ({$data.message_id}) <i class='fas fa-external-link-alt custom-ml-4 small'></i></a>")}
                    {else}
                        [`Unsubscribed by administrator.`]
                    {/if}
                </div>
            </div>
            <div class="field">
                <div class="value">
                    <div class="switch-with-text">
                        <span class="switch middle smaller shift-3 js-resubscribe">
                            <input type="checkbox" id="m-resubscribe-checkbox">
                        </span>
                        <label for="m-resubscribe-checkbox">[`Resubscribe`]</label>
                    </div>
                </div>
            </div>
            <div class="hidden warning-message field">
                <div class="value">
                    <span class="state-error-hint">[`Continue only if you are acting on behalf of and for the benefit of this client, or have unsubscribed before for testing purposes.`]</span>
                </div>
            </div>
        </div>
        <footer class="dialog-footer flexbox middle wrap">
            <button type="submit" class="button hidden">[`Save`]</button>
            <button type="button" class="js-close-dialog button light-gray">[`Close`]</button>
        </footer>
    </div>
</div>
<script>(function() { "use strict";

    const $dialog = $('#unsubscribed_info_dialog');
    const dialog = $dialog.data('dialog');

        const $submit_btn = $dialog.find('[type="submit"]');
        const $close_btn = $dialog.find('.js-close-dialog');
        $submit_btn.on('click', function (event) {
            event.preventDefault();
            $.wa.mailer.buttonLoader({
                $button: $(this),
                status: 'loader'
            });
            $.post('?module=unsubscribed&action=delete', { email: {$data.email|json_encode}, list_id: {$data.list_id|json_encode} }, () => {
                $.wa.mailer.redispatch();
                dialog.close();
            });
        })

        // Change buttons and show warning when checkbox is checked
        $(".js-resubscribe").waSwitch({
            change: active => {
                $close_btn.toggleClass('hidden', active);
                $submit_btn.toggleClass('hidden', !active);
                $dialog.find('.warning-message').toggleClass('hidden', !active);
            }
        });
})();</script>
