<!DOCTYPE html>
<html lang="{if $wa->locale()}{$wa->locale()|substr:0:2}{else}ru{/if}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
    {$wa->css()}
    <link rel="stylesheet" href="{$wa_url}wa-content/js/fileuploader/fileuploader.css">
    <link rel="stylesheet" href="{$wa_url}wa-content/css/jquery-ui/base/jquery.ui.autocomplete.css">
    <link rel="stylesheet" href="{$wa_url}wa-content/css/jquery-ui/base/jquery.ui.datepicker.css">
    <link rel="stylesheet" href="{$wa_app_static_url}css/mailer.css?{$wa->version()}">
    <link rel="stylesheet" href="{$wa_app_static_url}js/vendor/revolvapp/css/revolvapp.min.css">


    <script src="{$wa_url}wa-content/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-wa/wa.js?v={$wa->version(true)}"></script>

    <script src="{$wa_url}wa-content/js/jquery/jquery-migrate-3.3.2.min.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-plugins/jquery.history.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-plugins/jquery.json.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-plugins/jquery.store.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.core.min.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.position.min.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.autocomplete.min.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.draggable.min.js"></script>
    <script src="{$wa_url}wa-content/js/sortable/sortable.min.js"></script>
    <script src="{$wa_url}wa-content/js/sortable/jquery-sortable.min.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.touch-punch.min.js"></script>
    <script src="{$wa_url}wa-content/js/pickr/pickr.min.js"></script>

    <script src="{$wa_url}wa-content/js/fileuploader/fileuploader.js"></script>

    <script src="{$wa_app_static_url}js/vendor/raphael-min.js"></script>
    <script src="{$wa_app_static_url}js/vendor/g.raphael-min.js"></script>
    <script src="{$wa_app_static_url}js/vendor/beautify-html.js"></script>

    {* ACE *}
    <script src="{$wa_url}wa-content/js/ace/ace.js?v{$wa->version(true)}"></script>

    <script src="{$wa_app_static_url}js/vendor/revolvapp/revolvapp.min.js"></script>
    <script src="{$wa_app_static_url}js/vendor/revolvapp/plugins/reorder/reorder.min.js"></script>
    <script src="{$wa_app_static_url}js/vendor/revolvapp/plugins/code/code.min.js"></script>
    <script src="{$wa_app_static_url}js/vendor/revolvapp/plugins/vars/vars.min.js"></script>
    <script src="{$wa_app_static_url}js/vendor/revolvapp/plugins/definedlinks/definedlinks.min.js"></script>
    <script src="{$wa_app_static_url}js/vendor/revolvapp/plugins/products/products.min.js"></script>
    <script src="{$wa_app_static_url}js/vendor/revolvapp/languages/translate.js"></script>


    <script src="{$wa_app_static_url}js/vendor/g.pie.modified.js?v{$wa->version()}"></script>
    <script src="{$wa_app_static_url}js/mailer.js?v{$wa->version()}"></script>
    <script src="?action=loc&v={{$wa->version()}}"></script>

    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.datepicker.min.js"></script>
    {if $wa->locale() !== 'en_US'}
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/i18n/jquery.ui.datepicker-{$wa->locale()}.js"></script>
    {/if}

    {*
     * Plugin blocks
     *}
    {foreach $plugin_blocks as $block}
        {$block.html}
    {/foreach}
</head>
<body>
    <div id="wa">
        {* HEADER *}
        {$wa->header()}

        {* APP *}
        <div class="m-app-wrapper flexbox wrap-mobile" id="wa-app">
            {* SIDEBAR *}
            {if !empty($sidebar)}
                <div class="m-sidebar-wrapper sidebar flexbox overflow-visible width-adaptive-wider mobile-friendly js-app-sidebar" id="m-sidebar-wrapper">
                    {$sidebar|default:''}
                </div>
            {/if}

            {* CONTENT *}
            <div class="content blank" id="content">
                {$content}
            </div>
            {include file="../actions/backend/skeletons/default.html"}
            {include file="../actions/backend/skeletons/templates.html"}
            {include file="../actions/backend/skeletons/templatesImport.html"}
            {include file="../actions/backend/skeletons/template.html"}
            {include file="../actions/backend/skeletons/templatesAdd.html"}
            {include file="../actions/backend/skeletons/campaignsNew.html"}
            {include file="../actions/backend/skeletons/campaignsLetter.html"}
            {include file="../actions/backend/skeletons/campaignsRecipients.html"}
            {include file="../actions/backend/skeletons/campaignsSend.html"}
            {include file="../actions/backend/skeletons/campaignsReport.html"}
            {include file="../actions/backend/skeletons/campaignsOptions.html"}
            {include file="../actions/backend/skeletons/campaignsSending.html"}
            {include file="../actions/backend/skeletons/campaignsArchive.html"}
            {include file="../actions/backend/skeletons/unsubscribed.html"}
            {include file="../actions/backend/skeletons/undeliverable.html"}
            {include file="../actions/backend/skeletons/subscribers.html"}
            {include file="../actions/backend/skeletons/subscribersList.html"}
            {include file="../actions/backend/skeletons/subscribersold.html"}
            {include file="../actions/backend/skeletons/spamtest.html"}
            {include file="../actions/backend/skeletons/design.html"}
            {include file="../actions/backend/skeletons/designThemes.html"}
            {include file="../actions/backend/skeletons/plugins.html"}
        </div>
    </div>

    <script>
        let hash = $.wa.mailer.getHash();
        if (hash) {
            hash = hash.replace(/^[^#]*#\/*/, '');
            hash = hash.split('/');
            if (hash[0]) {
                let actionName = "",
                    i = 0;

                for (i; i < hash.length; i++) {
                    const h = hash[i];
                    if (i < 2) {
                        if (i === 0) {
                            actionName = h;
                        } else if (parseInt(h, 10) != h && h.indexOf('=') == -1) {
                            actionName += h.substr(0, 1).toUpperCase() + h.substr(1);
                        } else {
                            break;
                        }
                    } else {
                        break;
                    }
                }
                $.wa.mailer.showSkeleton(actionName)
            }
        }

        $.wa.mailer.init({
            lang: '{substr($wa->locale(), 0, 2)}',
            vars: {mailerHelper::getVars()|json_encode}
        });
    </script>
</body>
</html>
