<div class="dialog" id="return_path_dialog">
    <div class="dialog-background"></div>
    <form id="form-return-path" action="?module=returnpath&action=save" method="post" class="dialog-body">
        {if empty($data.id)}
            <h3 class="dialog-header">[`Add a new Return-Path`]</h3>
        {else}
            <h3 class="dialog-header">[`Edit Return-Path`]</h3>
        {/if}

        <div class="dialog-content fields">
            <p class="hint">
                [`Specify access parameters for an existing email account that will be used to receive auto notifications from recipients’ mail servers in case of campaign delivery errors.`]
                [`We recommend that you create a dedicated email account for this purpose, and use it merely for receiving and processing these kinds of auto notification messages.`]
            </p>

            {if !empty($data.id)}
                <input type="hidden" name="id" value="{$data.id}" />
            {/if}
            <div class="field">
                <div class="name">[`Email`]</div>
                <div class="value">
                    <input type="text" class="small" name="data[email]" value="{$data.email|default:''|escape}"{if !empty($data.id)} disabled{/if}>
                </div>
            </div>
            <div class="field">
                <div class="name">[`Server`]</div>
                <div class="value">
                    <input type="text" class="small" name="data[server]" value="{$data.server|default:''|escape}">
                </div>
            </div>
            <div class="field">
                <div class="name">[`POP3 Port`]</div>
                <div class="value">
                    <input type="text" class="small" name="data[port]" value="{$data.port|default:''|escape}">
                </div>
            </div>
            <div class="field">
                <div class="name">[`Login`]</div>
                <div class="value">
                    <input type="text" class="small" name="data[login]" value="{$data.login|default:''|escape}">
                </div>
            </div>
            <div class="field">
                <div class="name">
                    [`Password`]
                </div>
                <div class="value">
                    <input type="password" class="small" name="data[password]">
                    {if isset($data.id)}
                        <p class="hint custom-mt-8">[`Leave blank to keep current password.`]</p>
                    {/if}
                </div>
            </div>
            <div class="field">
                <div class="name">[`Secure (SSL)`]</div>
                <div class="value">
                    <span class="switch small">
                        <input type="checkbox" name="data[ssl]" value="1"{if !empty($data.ssl)} checked="checked"{/if}>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="name">[`Sub-addressing`]</div>
                <div class="value">
                    <span class="switch small">
                        <input type="checkbox" name="data[no_plus]" value="1"{if !empty($data.no_plus)} checked="checked"{/if}>
                    </span>
                    <p class="hint custom-mt-8">[`Disable if your mail server does not support sub-addressing in email addresses, i.e. addresses containing the “+” character.`]</p>
                </div>
            </div>
            <div class="field" style="display: none">
                <div class="value">
                    <em class="state-error-hint"></em>
                </div>
            </div>
            {if $data && $data.id > 0}
                <p class="hint">
                    {_w('A Return-Path address can be deleted in %d day after the last campaign it was used for.', 'A Return-Path address can be deleted in %d days after the last campaign it was used for.', $days_to_die)}
                </p>
            {/if}
        </div>

        <footer class="dialog-footer flexbox middle wrap">
            <button type="submit" class="button">{if isset($data.id)}[`Save`]{else}[`Add`]{/if}</button>
            <a href="#/senders/" class="js-close-dialog button light-gray">[`Cancel`]</a>

            {if $show_delete_link}
                <button type="button" class="button outlined red js-delete-link custom-ml-auto">
                    <span class="desktop-and-tablet-only">[`Delete this Return-Path`]</span>
                    <i class="fas fa-trash-alt mobile-only"></i>
                </button>
            {/if}
        </footer>
    </form>

    <script>(function() { "use strict";
            $(".switch").waSwitch();

            const $form = $('#form-return-path'),
                dialog = $form.closest('.dialog').data('dialog')

            $form.find('[type="submit"]').on('click', function(event) {
                event.preventDefault();
                const $btn = $(this)
                $.wa.mailer.buttonLoader({
                    $button: $btn,
                    status: 'loader'
                });
                $form.find('.state-error-hint').closest('.field').hide();
                $.post($form.attr('action'), $form.serialize(), function(response) {
                    response = response || { errors: "[`Unknown error`]" };
                    if (response.errors) {
                        $.wa.mailer.buttonLoader({
                            $button: $btn,
                            status: 'failed'
                        });
                        $form.find('.state-error-hint').text("[`Error checking mail:`] "+response.errors).closest('.field').show();
                    } else {
                        $.wa.mailer.buttonLoader({
                            $button: $btn,
                            status: 'success',
                            callback() {
                                {if empty($data.id)}
                                    $.storage.set('mailer/settings/new_return_path_id', $form.find('[name="data[email]"]').val());
                                {/if}
                                $.wa.mailer.redispatch();
                                dialog?.close();
                            }
                        });
                    }
                }, 'json');
            });

            {if $show_delete_link}
                // Delete button
                $form.find('.js-delete-link').on('click', function() {
                    const $btn = $(this)
                    $.waDialog.confirm({
                        title: "",
                        text: "[`Do you really want to delete this Return-Path?`]",
                        success_button_title: '[`Delete`]',
                        success_button_class: 'danger',
                        cancel_button_title: '[`Cancel`]',
                        cancel_button_class: 'light-gray',
                        onSuccess() {
                            $.wa.mailer.buttonLoader({
                                $button: $btn,
                                status: 'loader'
                            });
                            $.post('?module=returnpath&action=delete', { id: "{$data.id}" }, () => {
                                $.wa.mailer.redispatch();
                                dialog?.close();
                            });
                        },
                        onCancel() {
                            return false;
                        }
                    });

                });
            {/if}
        })();</script>
</div>
