<div class="block triple-padded">
    <h3>[`Import template`]</h3>

    <p>[`Please select an HTML file to import:`]</p>
    <ul id="import-index-selector" class="zebra">
        {foreach $html_files as $i => $filename}
            <li>
                <label>
                    <span class="wa-radio">
                        <input type="radio" name="import_index" value="{$i|escape}">
                        <span></span>
                    </span>
                    {$filename|escape}
                </label>
            </li>
        {/foreach}
    </ul>
</div>

<script>(function() {
    // Import index selector
    $('#import-index-selector input:radio').change(function() {
        $('#import-index-selector input:radio').attr('disabled', true);
        $.wa.mailer.showLoading();
        $.get('?module=templates&action=import2&import_index='+$(this).val(), {}, function(html) {
            $("#content").html(html);
        });
    });

    $.wa.mailer.setTitle();
})();</script>
