<div class="article">
        <div class="article-body">
            <div class="flexbox middle custom-mb-16">
                <h1 class="h2 custom-m-0">[`Templates`]</h1>
                <ul class="inlinebox custom-ml-auto">
                    <li>
                        <a href="#/templates/add/" class="button light-gray smaller">
                            <i class="fas fa-plus-circle text-blue"></i>
                            <span>[`New template`]</span>
                        </a>
                    </li>
                    <li class="custom-ml-12">
                        <a id="import-template-link" href="#/templates/import/" class="button light-gray smaller">
                            <i class="fas fa-upload text-green"></i>
                            <span>[`Import template`]</span>
                        </a>
                    </li>
                </ul>
            </div>

            {if $templates && count($templates) >= 2}
                <p class="text-gray small">[`Drag and drop templates to change their sort order in this list.`]</p>
            {/if}
            {if $templates}
                <ul id="template-list" class="templates-tiles thumbs li250px">
                    {foreach from=$templates item=t}
                        <li rel="{$t.id}">
                            <div class="wrapper">
                                <div class="preview">
                                    {if $t.image}
                                        <img src="{$t.image}" alt="">
                                    {else}
                                        <div class="hidden iframe-preview-content">{$t.preview_content|escape}</div>
                                        <div class="no-image">
                                            <iframe scrolling="no"></iframe>
                                            <div class="catch-clicks"></div>
                                        </div>
                                    {/if}
                                </div>
                                <h6 class="custom-mt-12 custom-mb-0">{$t.subject|escape}{if empty($t.rebody)} (HTML){/if}</h6>
                                {if $t.description}
                                    <p class="hint custom-mt-4">
                                        {$t.description|escape}
                                    </p>
                                {/if}
                            </div>
                        </li>
                    {/foreach}
                </ul>
            {else}
                <p>[`You do not have any templates so far.`]</p>
            {/if}
        </div>
    </div>

<script>
    (function () {
        "use strict";

        const template_list = $('#template-list');

        // Set up preview iframes
        const loadIframeContent = (iframe, content) => {
            iframe = (iframe.contentWindow) ? iframe.contentWindow : (iframe.contentDocument.document) ? iframe.contentDocument.document : iframe.contentDocument;
            iframe.document.open();
            iframe.document.write(content);
            iframe.document.close();
        };

        template_list.find('.iframe-preview-content').each(function () {
            const content = $(this);
            const iframe = content.parent().find('iframe');
            loadIframeContent(iframe[0], content.text());
        });

        // Click on a template opens editor
        template_list.on('click', 'li', function () {
            window.location.hash = '#/template/' + $(this).attr('rel') + '/';
        });

        // Import dialog
        $('#import-template-link').on('click', function (event) {
            event.preventDefault();
            $.get('?module=templates&action=import1', html => $.waDialog({ html }))
        });

        // Make templates draggable
        template_list.sortable({
            delay: 200,
            delayOnTouchOnly: true,
            forceFallback: false,
            animation: 150,
            dragClass: 'bordered-none',
            onUpdate: function () {
                let data = [], i = 1;
                template_list.find('> li').each(function () {
                    data.push('values[' + $(this).attr('rel') + ']=' + i);
                    i++;
                });
                $.post('?module=templates&action=sort', data.join('&'));
            },
            onEnd: function (event) {
                // Iframes cannot be moved across DOM without losing their content.
                // So we have to fill the content in again after every update.
                const iframe = event.item.querySelector('iframe');
                if (iframe) {
                    loadIframeContent(iframe, event.item.querySelector('.iframe-preview-content').textContent);
                }
            }
        });

        // Number of templates in sidebar
        $('#templates-list-item .count').text({count($templates)});

        $.wa.mailer.setTitle();
    })();
</script>
