<div class="dialog" id="senders_dialog">
    <div class="dialog-background"></div>
    <form id="form-senders" action="?module=senders&action=save" method="post" class="dialog-body" style="width: 45rem;">
        {if isset($sender.id)}
            <h3 class="dialog-header">[`Edit sender`]</h3>
        {else}
            <h3 class="dialog-header">[`Add a new sender`]</h3>
        {/if}
        <div class="dialog-content fields">
            {if isset($sender.id)}<input type="hidden" name="id" value="{$sender.id}" />{/if}

            <div class="fields-group custom-mt-0">
                <div class="field">
                    <div class="name for-input">[`Name`]</div>
                    <div class="value">
                        <input type="text" name="data[name]" value="{if isset($sender.name)}{$sender.name|escape}{/if}" class="small long" />
                    </div>
                </div>
                <div class="field">
                    <div class="name for-input">[`Email`]</div>
                    <div class="value">
                        <input type="text" name="data[email]" value="{if isset($sender.email)}{$sender.email|escape}{/if}" class="small long" />
                    </div>
                </div>
                <div class="field">
                    <div class="name for-input">[`Reply-To Email`]</div>
                    <div class="value">
                        <input type="text" name="params[reply_to]" value="{ifset($params.reply_to)|escape}" class="small long" />
                        <p class="hint">[`If you leave this field empty, replies will come to the main sender address specified above.`]</p>
                    </div>
                </div>
            </div>

            <div class="fields-group custom-mt-24">
                <div class="field">
                    <div class="name">[`Transport`]</div>
                    <div class="value">
                        <div class="wa-select small">
                            <select id="transport-type" name="params[type]">
                                {foreach $sender_types as $id => $s}
                                    {if PHP_MAJOR_VERSION < 8 || $id != 'mail' || $params.type == $id}
                                        <option value="{$id|escape}"{if $params.type==$id} selected{/if}>
                                            {if is_string($s)}
                                                {$s}
                                            {else}
                                                {ifset($s.name)}
                                            {/if}
                                        </option>
                                    {/if}
                                {/foreach}
                            </select>
                        </div>
                        {foreach $sender_types as $id => $s}
                            {if PHP_MAJOR_VERSION < 8 || $id != 'mail' || $params.type == $id}
                                <p class="hint" data-sender="{$id}" style="display: none;">{$s.description}</p>
                            {/if}
                            {if $id == 'wa' && !$waid_is_connected}
                                <p>
                                {sprintf_wp(
                                    '<a href="%s">Connect to Webasyst ID</a> to use the Webasyst sender server.',
                                    "{$wa_backend_url}webasyst/settings/waid/"
                                )}
                                </p>
                            {/if}
                        {/foreach}
                    </div>
                </div>
            </div>

            {if isset($sender_types.mail)}
                <div id="mail-params"{if $params.type != 'mail'} style="display:none"{/if} class="fields-group transport-params custom-mt-8">
                    <div class="field">
                        <div class="name">[`Parameters`]</div>
                        <div class="value">
                            <input type="text" placeholder="-f%s" name="params[options]" class="small long" />
                        </div>
                    </div>
                </div>
            {/if}

            {if isset($sender_types.smtp)}
                <div id="smtp-params"{if $params.type != 'smtp'} style="display:none"{/if} class="fields-group transport-params custom-mt-8">
                    <div class="field">
                        <div class="name">[`Server`]</div>
                        <div class="value">
                            <input type="text" name="params[server]" value="{if isset($params.server)}{$params.server|escape}{/if}" class="small long" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">[`Port`]</div>
                        <div class="value">
                            <input type="text" placeholder="25" name="params[port]" value="{if isset($params.port)}{$params.port|escape}{/if}" class="small long" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">[`Login`]</div>
                        <div class="value">
                            <input type="text" name="params[login]" value="{if isset($params.login)}{$params.login|escape}{/if}" class="small long" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">[`Password`]</div>
                        <div class="value">
                            <input type="password" name="params[password]" value="{if isset($params.password)}{$params.password|escape}{/if}" class="small long" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">[`Encryption`]</div>
                        <div class="value">
                            <div class="wa-select small">
                                <select name="params[encryption]">
                                    <option value="">[`None`]</option>
                                    <option {if isset($params.encryption) && $params.encryption == 'ssl'}selected{/if} value="ssl">[`SSL/TLS`]</option>
                                    <option {if isset($params.encryption) && $params.encryption == 'tls'}selected{/if} value="tls">[`STARTTLS`]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            {/if}

            {if isset($sender_types.sendmail)}
                <div id="sendmail-params"{if $params.type != 'sendmail'} style="display:none"{/if} class="fields-group transport-params custom-mt-8">
                    <div class="field">
                        <div class="name">[`Command`]</div>
                        <div class="value">
                            <input type="text" placeholder="/usr/sbin/sendmail -bs" name="params[command]" value="{ifset($params.command)|escape}" class="small long" />
                        </div>
                    </div>
                </div>
            {/if}

            {if isset($sender_types.wa)}
                <div id="wa-params"{if $params.type != 'wa'} style="display:none"{/if} class="fields-group transport-params">
                    {if $waid_is_connected && !empty($wa_api_error)}
                        <div class="field">
                            <div class="name"></div>
                            <div class="value">
                                <span class="alert warning">
                                    <h4>[`Webasyst API error`]</h4>
                                    <p>{$wa_api_error}</p>
                                </span>
                            </div>
                        </div>
                    {elseif $waid_is_connected}
                        {* include './include.transport.wa.html' inline *}
                    {/if}
                    <input type="hidden" name="params[no_return_path]" value="1">
                </div>
            {/if}

            {if isset($sender_types.test)}
                <div id="test-params"{if $params.type != 'test'} style="display:none"{/if} class="fields-group transport-params">
                    <div class="field">
                        <div class="value submit hint text-red">[`Note: mail will be saved to the wa-log/mailer/ directory and will NOT be sent to recipients.`]</div>
                    </div>
                </div>
            {/if}

            {foreach $sender_types as $id => $s}
                {if !is_string($s) && isset($s.content)}
                    <div id="{$id}-params"
                        {if $params.type != $id} style="display:none"{/if}
                        class="fields-group transport-params"
                    >
                        {$s.content}

                        {if !empty($s.return_path_built_in)}
                            <input type="hidden" name="params[no_return_path]" value="1">
                        {/if}
                    </div>
                {/if}
            {/foreach}

            <div class="fields-group custom-mt-24">
                <div class="field">
                    <div class="name">
                        DKIM
                    </div>
                    <div class="value">
                        <span class="switch smaller">
                            <input type="checkbox" name="params[dkim]" id="is-dkim" value="1"{if !empty($params.dkim)} checked{/if}{if empty($params.ssl_is_set) || empty($params.php_version_ok)} disabled{/if} />
                        </span>
                        <div class="hide-when-dkim-disabled">
                            <p class="hint">[`<a target="_blank" href="https://www.webasyst.com/crm/support/2024/mailer-dkim/">What is DKIM</a>`] <i class="fas fa-external-link-alt small"></i></p>
                            <p id="dkim-needs-email" class="hint" style="display: none;">[`Please enter sender’s email address to use DKIM.`]</p>
                            <input type="hidden" name="params[dkim_pvt_key]" value="{ifset($params.dkim_pvt_key)|escape}" />
                            <input type="hidden" name="params[dkim_pub_key]" value="{ifset($params.dkim_pub_key)|escape}" />
                        </div>
                        <div class="show-when-dkim-disabled">
                            <p class="hint">
                                [`Selected transport does not require DKIM setup.`] <span id="dkim-reason-why-irrelevant"></span>
                            </p>
                        </div>
                    </div>
                    {if empty($params.ssl_is_set)}
                        <div class="value hide-when-dkim-disabled">
                            [`You need to install PHP extension openssl to use DKIM.`]
                        </div>
                    {/if}
                    {if empty($params.php_version_ok)}
                        <div class="value hide-when-dkim-disabled">
                            [`You need PHP version 5.3 or higher to use DKIM. Your current version is:`] <b>{$params.php_version}</b>.
                        </div>
                    {/if}
                </div>
                <div id="dkim-info"{if empty($params.dkim)} style="display:none;"{/if} class="break-all">

                    <div class="field custom-mt-12 hide-when-dkim-disabled">
                        <div class="value small">
                            [`Add a new TXT record with this public DKIM key to the DNS zone of domain name`]
                            <span id="sender-domain-0">{ifset($sender.domain)}</span>
                        </div>
                    </div>
                    <div class="field hide-when-dkim-disabled">
                        <div class="name custom-pt-0">[`Host`]</div>
                        <div class="value small">
                            <code>
                                <span id="sender-dkim-selector">{ifempty($params.dkim_selector, 'key1')}</span>._domainkey.<span id="sender-domain">{ifset($sender.domain)}</span>
                            </code>
                        </div>
                    </div>
                    <div class="field hide-when-dkim-disabled">
                        <div class="name custom-pt-0">[`Record type`]</div>
                        <div class="value small">
                            <code>TXT</code>
                        </div>
                    </div>
                    <div class="field hide-when-dkim-disabled">
                        <div class="name custom-pt-0">[`Value`]</div>
                        <div class="value small">
                            <code>
                                v=DKIM1; k=rsa; t=s; p=<span id="one-string-key">{ifset($sender.one_string_key)}</span>
                            </code>
                        </div>
                    </div>
                </div>
            </div>

            {* Container for generic validation errors not attached to a particular input. *}
            <div class="field">
                <div class="name"></div>
                <div class="value js-other-errors"></div>
            </div>
        </div>

        <footer class="dialog-footer flexbox middle">
            <button type="button" class="js-submit button">{if isset($sender.id)}[`Save`]{else}[`Add`]{/if}</button>
            <a href="#/senders/" class="js-close-dialog button light-gray">[`Cancel`]</a>
            {if $show_delete_button}
                <button type="button" class="button red outlined js-delete-link custom-ml-auto">
                    <span class="desktop-and-tablet-only">[`Delete this sender`]</span>
                    <i class="fas fa-trash-alt mobile-only"></i>
                </button>
            {/if}
        </footer>
    </form>
    <script>
        (function() { "use strict";

            var sender_types = {$sender_types|json_encode};

            $('.switch').waSwitch();

            var $params_dkim_checkbox = $('input[name="params[dkim]"]');
            var dkim_wa_switch = $params_dkim_checkbox.closest('.switch').waSwitch('switch');

            const dialog = $('#senders_dialog').data('dialog')
            const $form = $('#form-senders');


            $("#transport-type").change(function () {

                var selected_sender_type = $(this).val();
                var sender_type = sender_types[selected_sender_type];
                var $transport_block = $("#" + selected_sender_type + "-params");

                $form.find('.state-error-hint').remove();
                $form.find('.state-error-hint').parent().hide();
                $form.find('.state-error').removeClass('state-error');
                $(".transport-params").hide();
                $(".transport-params").find('input').attr('disabled', 'disabled');

                $transport_block.show().find('input').removeAttr('disabled');
                $('.hint[data-sender="'+selected_sender_type+'"]').show().siblings('.hint').hide();

                if (sender_type && sender_type.dkim_irrelevant) {
                    dkim_wa_switch.set(false);
                    dkim_wa_switch.disable(true);
                    var $field_group = $('#dkim-reason-why-irrelevant').text(sender_type.dkim_irrelevant).closest('.fields-group');
                    $field_group.find('.hide-when-dkim-disabled').hide();
                    $field_group.find('.show-when-dkim-disabled').show();
                } else {
                    dkim_wa_switch.disable(false);
                    var $field_group = $('#dkim-reason-why-irrelevant').text('').closest('.fields-group');
                    $field_group.find('.hide-when-dkim-disabled').show();
                    $field_group.find('.show-when-dkim-disabled').hide();
                }

                dialog.resize();
            })
            setTimeout(function() {
                $("#transport-type").trigger('change');
            }, 1);

            // Save button
            $form.find('.js-submit').click(function() {
                const $btn = $(this);
                $.wa.mailer.buttonLoader({
                    $button: $btn,
                    status: 'loader'
                });

                $form.find('.state-error-hint').remove();
                $form.find('.state-error-hint').parent().hide();
                $form.find('.state-error').removeClass('state-error');

                const port_input = $form.find('[name="params[port]"]');
                if (!port_input.val().trim()) {
                    port_input.val(port_input.attr('placeholder'));
                }

                $.post($form.attr('action'), $form.serialize(), function(response) {
                    if (response.errors) {
                        $.wa.mailer.buttonLoader({
                            $button: $btn,
                            status: 'failed'
                        });
                        const other_errors = $form.find('.js-other-errors').empty();
                        let input;
                        for (let fld in response.errors) {
                            if (response.errors.hasOwnProperty(fld)) {
                                // Note: response.errors[fld] being null means that json_encode() failed to process a message
                                // in other than UTF8 encoding. Most probably this is an error checking SMTP mailbox.
                                input = $('[name="'+fld+'"]');
                                if (input.length <= 0) {
                                    other_errors.append($('<p class="state-error-hint"></p>').html(response.errors[fld]||"[`Unknown error`]"));
                                    continue;
                                }
                                if (input.length == 1) {
                                    input.addClass('state-error');
                                } else {

                                }
                                input.last().parent().append($('<p class="state-error-hint"></p>').html(response.errors[fld]||"[`Unknown error`]"));
                            }
                        }
                    } else {
                        $.wa.mailer.buttonLoader({
                            $button: $btn,
                            status: 'success',
                            callback() {
                                {if empty($sender.id)}
                                    $.storage.set('mailer/settings/new_sender_id', ''+response.data);
                                {/if}
                                $.wa.mailer.redispatch();
                            }
                        });
                        dialog.close()
                    }
                }, 'json');
            });

            {if isset($sender.id)}
                // Delete button
                $form.find('.js-delete-link').on('click', function() {
                    const $btn = $(this);
                    $.wa.mailer.buttonLoader({
                        $button: $btn,
                        status: 'loader',
                        removeOtherIcons: true
                    });
                    $.waDialog.confirm({
                        title: "",
                        text: '[`Do you really want to delete this sender?`]',
                        success_button_title: '[`Delete`]',
                        success_button_class: 'danger',
                        cancel_button_title: '[`Cancel`]',
                        cancel_button_class: 'light-gray',
                        onSuccess() {
                            $.post('?module=senders&action=delete', { id: "{$sender.id}" }, () => $.wa.mailer.redispatch());
                            $btn.closest('.dialog').data('dialog').close();
                        },
                        onCancel() {
                            $.wa.mailer.buttonLoader({
                                $button: $btn,
                                status: 'failed',
                                removeOtherIcons: true
                            });
                            return false;
                        }
                    });
                });
            {/if}

            $params_dkim_checkbox.change(function() {
                const is_on = $(this).is(':checked');
                if (is_on) {
                    if ($('input[name="params[dkim_pvt_key]"]').val()) {
                        $('#dkim-info').slideDown();
                    } else {
                        generateDkim();
                    }
                } else {
                    $('#dkim-info').slideUp();
                }
                setTimeout(() => dialog.resize(), 500)
            });
            $('input[name="params[dkim_selector]"]').keyup(function() {
                $('#sender-dkim-selector').text($(this).val());
            });
            const email_obj = $('input[name="data[email]"]'),
                email = $.trim(email_obj.val()), re = /[^@]+@[^@]+/;

            if (!email || !re.test(email)) {
                hideDkim();
            }
            email_obj.change(function() {
                const email = $.trim($(this).val());
                if (re.test(email)) {
                    $('input[name="params[dkim]"]').removeAttr('disabled');
                    $('#dkim-needs-email').hide();
                    const e = email.split('@');
                    $('#sender-domain-0').text(e[1]);
                    $('#sender-domain').text(e[1]);
                    $('#sender-dkim-selector').text(getDkimSelector(email));
                } else {
                    hideDkim();
                }
            });
        })();

        function hideDkim() {
            $('input[name="params[dkim]"]').attr('checked', false).attr('disabled', true);
            $('#dkim-needs-email').show();
            $('#dkim-info').slideUp();
        }

        function generateDkim() {
            const email = $.trim($('input[name="data[email]"]').val());
            $('input[name="params[dkim]"]').parent().after(' <i class="fas fa-spin fa-spinner js-loading"></i>');
            $.post('?module=senders&action=generateDkim', { email }, function(r) {
                if (r.status == 'ok') {
                    $('input[name="params[dkim_pvt_key]"]').val(r.data.dkim_pvt_key);
                    $('input[name="params[dkim_pub_key]"]').val(r.data.dkim_pub_key);
                    $('#one-string-key').text(r.data.one_string_key);
                    $('#sender-domain-0').text(r.data.sender_domain);
                    $('#sender-domain').text(r.data.sender_domain);
                    $('#regenerate').show();
                    $('#dkim-info').slideDown();
                }
                $('input[name="params[dkim]"]').parent().parent().find('.js-loading').remove();
            }, 'json');
        }

        function getDkimSelector(email) {
            const e = email.split('@');
            return e[0].replace(/[^a-zA-Z0-9]/g, '') + 'wamail';
        }
    </script>
</div>
