{*include file="./skeletons/default.html"}
{include file="./skeletons/templates.html"}
{include file="./skeletons/templatesImport.html"}
{include file="./skeletons/template.html"}
{include file="./skeletons/templatesAdd.html"}
{include file="./skeletons/campaignsNew.html"}
{include file="./skeletons/campaignsLetter.html"}
{include file="./skeletons/campaignsRecipients.html"}
{include file="./skeletons/campaignsSend.html"}
{include file="./skeletons/campaignsReport.html"}
{include file="./skeletons/campaignsOptions.html"}
{include file="./skeletons/campaignsSending.html"}
{include file="./skeletons/campaignsArchive.html"}
{include file="./skeletons/unsubscribed.html"}
{include file="./skeletons/undeliverable.html"}
{include file="./skeletons/subscribers.html"}
{include file="./skeletons/subscribersList.html"}
{include file="./skeletons/subscribersold.html"}
{include file="./skeletons/spamtest.html"}
{include file="./skeletons/design.html"}
{include file="./skeletons/designThemes.html"}
{include file="./skeletons/plugins.html"*}
