.wa-mailer-wrapper {
  padding: 0.5em;
}
.wa-mailer-wrapper .subscribe-form-wrapper {
  margin: 0.5em 0 0;
  padding: 0.5em;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
.wa-mailer-wrapper .subscribe-form-wrapper:first-child {
  margin-top: 0;
}
.wa-mailer-wrapper .subscribe-form-wrapper .line {
  margin: 1em 0 0;
}
.wa-mailer-wrapper .subscribe-form-wrapper .line:first-child {
  margin-top: 0;
}
